header{
    color: white;
    font: normal 15pt Arial;
    margin: auto;
}
body{
    background-color: rgb(36, 36, 36);
    text-align: center;
    color: white;
    font: normal 13pt Arial;
    margin: auto;
}